@model HospitalManagament.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4 class="page-title">Edit Doctor Profile</h4>
<div class="row">
    <div class="col-md-4 col-xs-12">
        <div class="white-box">
            <div class="user-bg"> <img alt="user" src="~/plugins/images/big/img3.jpg" width="100%"> </div>
            <div class="user-btm-box">
                <!-- .row -->
                <div class="row text-center m-t-10">
                    <div class="col-md-6 b-r">
                        <strong>Name</strong>
                        <p>@Model.UserName</p>
                    </div>
                    <div class="col-md-6">
                        <strong>Occupation</strong>
                        <p>Care Giver</p>
                    </div>
                </div>
                <!-- /.row -->
                <hr>
                <!-- .row -->
                <div class="row text-center m-t-10">
                    <div class="col-md-6 b-r">
                        <strong>Email ID</strong>
                        <p>@Model.Email</p>
                    </div>
                    <div class="col-md-6">
                        <strong>Phone</strong>
                        <p>@Model.ContactNo</p>
                    </div>
                </div>
                <!-- /.row -->
                <hr>
                <!-- .row -->
                <div class="row text-center m-t-10">
                    <div class="col-md-12">
                        <strong>Address</strong>
                        <p>
                            @Model.Address
                        </p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-xs-12">
        <div class="white-box">
            <div class="row">
                <div class="col-md-3 col-xs-6 b-r">
                    <strong>Full Name</strong>
                    <br>
                    <p class="text-muted">@Model.FullName</p>
                </div>
                <div class="col-md-3 col-xs-6 b-r">
                    <strong>Mobile</strong>
                    <br>
                    <p class="text-muted">@Model.ContactNo</p>
                </div>
                <div class="col-md-3 col-xs-6 b-r">
                    <strong>Email</strong>
                    <br>
                    <p class="text-muted">@Model.Email</p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <strong>Designation</strong>
                    <br>
                    <p class="text-muted">@Model.Doctor.Designation</p>
                </div>
            </div>
            <hr>
            <p class="m-t-30">
                @Model.Comments
            </p>
        </div>
    </div>

</div>

<div style="margin-bottom: 15px;">
    @Html.ActionLink("Edit", "Edit", "Doctor", new { id = Model.Id }, new { @class = "btn btn-success btn-block" })
</div>

<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <div id="calendar"></div>
        </div>
    </div>
</div>
<!-- /.modal -->
<div id="event-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 id="event-title" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <h4>Start</h4>
                <p id="event-start"></p>
                <h4>End</h4>
                <p id="event-end"></p>
                <h4>Description</h4>
                <p id="event-description"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{


    <script>
        // Send ajax call
        $.ajax({
            url: '@Url.Action("AllEvents", "ManageEvents")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {

                // Append All events

                $('#calendar').fullCalendar({
                    eventClick: function (calEvent, jsEvent, view) {

                        $('#event-title').text(calEvent.title);
                        $('#event-start').text(calEvent.start._d.toLocaleString());
                        $('#event-end').text(calEvent.end._d.toLocaleString());
                        $('#event-description').text(calEvent.description);

                        $('#event-modal').modal('show');

                        // change the border color just for fun
                        $(this).css('border-color', 'red');

                    },
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay,listWeek'
                    },
                    allDayDefault: false,
                    //editable: true,
                    //droppable: true, // this allows things to be dropped onto the calendar
                    eventLimit: true, // allow "more" link when too many events
                    events: data
                });
            },
            error: function () {
                alert("Error");
            }
        });
    </script>
    
}