@model HospitalManagament.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4 class="page-title">Edit CareGiver Profile</h4>
<div class="row">
    <div class="col-md-4 col-xs-12">
        <div class="white-box">
            <div class="user-bg"> <img alt="user" src="~/plugins/images/big/img3.jpg" width="100%"> </div>
            <div class="user-btm-box">
                <!-- .row -->
                <div class="row text-center m-t-10">
                    <div class="col-md-6 b-r">
                        <strong>Name</strong>
                        <p>@Model.UserName</p>
                    </div>
                    <div class="col-md-6">
                        <strong>Occupation</strong>
                        <p>Care Giver</p>
                    </div>
                </div>
                <!-- /.row -->
                <hr>
                <!-- .row -->
                <div class="row text-center m-t-10">
                    <div class="col-md-6 b-r">
                        <strong>Email ID</strong>
                        <p>@Model.Email</p>
                    </div>
                    <div class="col-md-6">
                        <strong>Phone</strong>
                        <p>@Model.ContactNo</p>
                    </div>
                </div>
                <!-- /.row -->
                <hr>
                <!-- .row -->
                <div class="row text-center m-t-10">
                    <div class="col-md-12">
                        <strong>Address</strong>
                        <p>
                            @Model.Address
                        </p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-xs-12">
        <div class="white-box">
            <div class="row">
                <div class="col-md-3 col-xs-6 b-r">
                    <strong>Full Name</strong>
                    <br>
                    <p class="text-muted">@Model.FullName</p>
                </div>
                <div class="col-md-3 col-xs-6 b-r">
                    <strong>Mobile</strong>
                    <br>
                    <p class="text-muted">@Model.ContactNo</p>
                </div>
                <div class="col-md-3 col-xs-6 b-r">
                    <strong>Email</strong>
                    <br>
                    <p class="text-muted">@Model.Email</p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <strong>Caring Patient</strong>
                    <br>
                    @{
                        if (Model.Caregiver.Patient != null)
                        {
                            <p class="text-muted">
                                @Model.Caregiver.Patient.User.FullName
                            </p>
                        }
                        else
                        {
                            <p class="text-muted">
                                Patient
                            </p>
                        }

                    }
                </div>
            </div>
            <hr>
            <p class="m-t-30">
                @Model.Comments
            </p>
        </div>
    </div>

</div>

<div style="margin-bottom: 15px;">
    @Html.ActionLink("Edit", "Edit", "CareGiver", new { id = Model.Id }, new { @class = "btn btn-success btn-block" })
</div>