@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-6">
        <div class="white-box">
            @*<h3 class="box-title">Patients Genders Per Month</h3>
                <ul class="list-inline text-center">
                    <li>
                        <h5><i class="fa fa-circle m-r-5" style="color: #35d6ff;"></i>MALE</h5>
                    </li>
                    <li>
                        <h5><i class="fa fa-circle m-r-5" style="color: #7835ff;"></i>FEMALE</h5>
                    </li>
                </ul>
                <div>
                    <canvas id="CountGenderPerMonth" height="150"></canvas>
                </div>*@

            <h3 class="box-title">Patient Gender line Chart</h3>
            <ul class="list-inline text-right">
                <li>
                    <h5><i class="fa fa-circle m-r-5" style="color: #00bfc7;"></i>Male</h5>
                </li>
                <li>
                    <h5><i class="fa fa-circle m-r-5" style="color: #9675ce;"></i>Female</h5>
                </li>
            </ul>
            <div id="morris-area-chart"></div>

        </div>
    </div>
    <div class="col-sm-6">
        <div class="white-box" style="height:507px">
            @*<h3 class="box-title">New Patient List</h3>
                <p class="text-muted">this is the sample data here for crm</p>*@

            <div class="r-icon-stats">
                <i class="ti-user bg-megna"></i>
                <div class="bodystate">
                    <h4>@Html.Raw(HttpContext.Current.Session["TotalPatients"].ToString())</h4>
                    <span class="text-muted">Total Patients</span>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Full Name</th>
                            <th>Occupation</th>
                            <th>Diseases</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in (List<HospitalManagament.User>)HttpContext.Current.Session["TotalPatientList"])
                            {
                                <tr>
                                    <td>@item.UserName</td>
                                    <td>@item.FullName</td>
                                    <td>@item.Patient.Occupation</td>
                                    <td>@item.Patient.Disease</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-6">
        <div class="white-box">
            <h3 class="box-title">Caregivers</h3>
            <ul class="list-inline text-center">
                <li>
                    <h5><i class="fa fa-circle m-r-5" style="color: #00bfc7;"></i>Free</h5>
                </li>
                <li>
                    <h5><i class="fa fa-circle m-r-5" style="color: #b4becb;"></i>Engaged</h5>
                </li>
            </ul>
            <div id="morris-area-chart1" style="height: 370px; position: relative;">
                <svg height="370" version="1.1" width="482" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative; top: -0.599976px;"><desc>Created with Raphaël 2.1.2</desc><defs></defs><text style="text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="36.5" y="331" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal"><tspan dy="4">0</tspan></text><path style="" fill="none" stroke="#e0e0e0" d="M49,331H457" stroke-width="0.5"></path><text style="text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="36.5" y="254.5" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal"><tspan dy="4">75</tspan></text><path style="" fill="none" stroke="#e0e0e0" d="M49,254.5H457" stroke-width="0.5"></path><text style="text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="36.5" y="178" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal"><tspan dy="4">150</tspan></text><path style="" fill="none" stroke="#e0e0e0" d="M49,178H457" stroke-width="0.5"></path><text style="text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="36.5" y="101.5" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal"><tspan dy="4">225</tspan></text><path style="" fill="none" stroke="#e0e0e0" d="M49,101.5H457" stroke-width="0.5"></path><text style="text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="36.5" y="25" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal"><tspan dy="4">300</tspan></text><path style="" fill="none" stroke="#e0e0e0" d="M49,25H457" stroke-width="0.5"></path><text style="text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="427.85714285714283" y="343.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4">2016</tspan></text><text style="text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="311.2857142857143" y="343.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4">2014</tspan></text><text style="text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="194.71428571428572" y="343.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4">2012</tspan></text><text style="text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="78.14285714285714" y="343.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4">2010</tspan></text><rect x="56.285714285714285" y="290.2" width="20.357142857142858" height="40.80000000000001" rx="0" ry="0" fill="#469fb4" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="79.64285714285714" y="280" width="20.357142857142858" height="51" rx="0" ry="0" fill="#01c0c8" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="114.57142857142856" y="198.4" width="20.357142857142858" height="132.6" rx="0" ry="0" fill="#469fb4" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="137.92857142857142" y="229" width="20.357142857142858" height="102" rx="0" ry="0" fill="#01c0c8" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="172.85714285714283" y="300.4" width="20.357142857142858" height="30.600000000000023" rx="0" ry="0" fill="#469fb4" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="196.2142857142857" y="269.8" width="20.357142857142858" height="61.19999999999999" rx="0" ry="0" fill="#01c0c8" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="231.14285714285714" y="300.4" width="20.357142857142858" height="30.600000000000023" rx="0" ry="0" fill="#469fb4" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="254.5" y="127" width="20.357142857142858" height="204" rx="0" ry="0" fill="#01c0c8" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="289.4285714285714" y="127" width="20.357142857142858" height="204" rx="0" ry="0" fill="#469fb4" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="312.7857142857142" y="178" width="20.357142857142858" height="153" rx="0" ry="0" fill="#01c0c8" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="347.7142857142857" y="223.89999999999998" width="20.357142857142858" height="107.10000000000002" rx="0" ry="0" fill="#469fb4" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="371.07142857142856" y="239.2" width="20.357142857142858" height="91.80000000000001" rx="0" ry="0" fill="#01c0c8" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="406" y="76" width="20.357142857142858" height="255" rx="0" ry="0" fill="#469fb4" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="429.35714285714283" y="178" width="20.357142857142858" height="153" rx="0" ry="0" fill="#01c0c8" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect></svg><div class="morris-hover morris-default-style" style="left: 212.5px; top: 140px; display: none;">
                    <div class="morris-hover-row-label">2013</div><div class="morris-hover-point" style="color: #469fb4">
                        OPD:
                        30
                    </div><div class="morris-hover-point" style="color: #01c0c8">
                        ICU:
                        200
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="white-box" style="height:507px">
            @*<h3 class="box-title">New Patient List</h3>
                <p class="text-muted">this is the sample data here for crm</p>*@

            <div class="r-icon-stats">
                <i class="ti-user bg-megna"></i>
                <div class="bodystate">
                    <h4>@Html.Raw(HttpContext.Current.Session["TotalCaregivers"].ToString())</h4>
                    <span class="text-muted">Total Caregivers</span>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Full Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in (List<HospitalManagament.User>)HttpContext.Current.Session["TotalCaregiverList"])
                            {
                                <tr>
                                    <td>@item.UserName</td>
                                    <td>@item.FullName</td>
                                    <td>@item.Email</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-6">
        <div class="white-box">
            <h3 class="box-title">Doctors</h3>
            <ul class="list-inline text-center">
                <li>
                    <h5><i class="fa fa-circle m-r-5" style="color: #00bfc7;"></i>Not Speclized</h5>
                </li>
                <li>
                    <h5><i class="fa fa-circle m-r-5" style="color: #b4becb;"></i>Speclized</h5>
                </li>
            </ul>
            <div id="morris-area-chart1" style="height: 370px; position: relative;">
                <svg height="370" version="1.1" width="482" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative; top: -0.599976px;"><desc>Created with Raphaël 2.1.2</desc><defs></defs><text style="text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="36.5" y="331" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal"><tspan dy="4">0</tspan></text><path style="" fill="none" stroke="#e0e0e0" d="M49,331H457" stroke-width="0.5"></path><text style="text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="36.5" y="254.5" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal"><tspan dy="4">75</tspan></text><path style="" fill="none" stroke="#e0e0e0" d="M49,254.5H457" stroke-width="0.5"></path><text style="text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="36.5" y="178" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal"><tspan dy="4">150</tspan></text><path style="" fill="none" stroke="#e0e0e0" d="M49,178H457" stroke-width="0.5"></path><text style="text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="36.5" y="101.5" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal"><tspan dy="4">225</tspan></text><path style="" fill="none" stroke="#e0e0e0" d="M49,101.5H457" stroke-width="0.5"></path><text style="text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="36.5" y="25" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal"><tspan dy="4">300</tspan></text><path style="" fill="none" stroke="#e0e0e0" d="M49,25H457" stroke-width="0.5"></path><text style="text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="427.85714285714283" y="343.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4">2016</tspan></text><text style="text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="311.2857142857143" y="343.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4">2014</tspan></text><text style="text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="194.71428571428572" y="343.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4">2012</tspan></text><text style="text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="78.14285714285714" y="343.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4">2010</tspan></text><rect x="56.285714285714285" y="290.2" width="20.357142857142858" height="40.80000000000001" rx="0" ry="0" fill="#469fb4" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="79.64285714285714" y="280" width="20.357142857142858" height="51" rx="0" ry="0" fill="#01c0c8" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="114.57142857142856" y="198.4" width="20.357142857142858" height="132.6" rx="0" ry="0" fill="#469fb4" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="137.92857142857142" y="229" width="20.357142857142858" height="102" rx="0" ry="0" fill="#01c0c8" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="172.85714285714283" y="300.4" width="20.357142857142858" height="30.600000000000023" rx="0" ry="0" fill="#469fb4" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="196.2142857142857" y="269.8" width="20.357142857142858" height="61.19999999999999" rx="0" ry="0" fill="#01c0c8" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="231.14285714285714" y="300.4" width="20.357142857142858" height="30.600000000000023" rx="0" ry="0" fill="#469fb4" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="254.5" y="127" width="20.357142857142858" height="204" rx="0" ry="0" fill="#01c0c8" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="289.4285714285714" y="127" width="20.357142857142858" height="204" rx="0" ry="0" fill="#469fb4" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="312.7857142857142" y="178" width="20.357142857142858" height="153" rx="0" ry="0" fill="#01c0c8" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="347.7142857142857" y="223.89999999999998" width="20.357142857142858" height="107.10000000000002" rx="0" ry="0" fill="#469fb4" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="371.07142857142856" y="239.2" width="20.357142857142858" height="91.80000000000001" rx="0" ry="0" fill="#01c0c8" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="406" y="76" width="20.357142857142858" height="255" rx="0" ry="0" fill="#469fb4" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="429.35714285714283" y="178" width="20.357142857142858" height="153" rx="0" ry="0" fill="#01c0c8" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect></svg><div class="morris-hover morris-default-style" style="left: 212.5px; top: 140px; display: none;">
                    <div class="morris-hover-row-label">2013</div><div class="morris-hover-point" style="color: #469fb4">
                        OPD:
                        30
                    </div><div class="morris-hover-point" style="color: #01c0c8">
                        ICU:
                        200
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="white-box" style="height:507px">
            @*<h3 class="box-title">New Patient List</h3>
                <p class="text-muted">this is the sample data here for crm</p>*@

            <div class="r-icon-stats">
                <i class="ti-user bg-megna"></i>
                <div class="bodystate">
                    <h4>@Html.Raw(HttpContext.Current.Session["TotalDoctors"].ToString())</h4>
                    <span class="text-muted">Total Doctors</span>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Full Name</th>
                            <th>Designation</th>
                            <th>Specialization</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in (List<HospitalManagament.User>)HttpContext.Current.Session["TotalDoctorList"])
                            {
                                <tr>
                                    <td>@item.UserName</td>
                                    <td>@item.FullName</td>
                                    <td>@item.Doctor.Designation</td>
                                    <td>@item.Doctor.Specialization</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

@section Scripts
{
    <!-- Chart JS -->
    @*<script src="~/plugins/bower_components/Chart.js/chartjs.init.js"></script>*@
    <script src="~/plugins/bower_components/Chart.js/Chart.min.js"></script>

    <script>

        // Send ajax call
        $.ajax({
            url: '@Url.Action("CountGenderPerMonthHollow", "Home")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {

                Morris.Area({
                    element: 'morris-area-chart',
                    data: data,
                    xkey: 'Month',
                    ykeys: ['MaleCount', 'FemaleCount'],
                    labels: ['Male', 'Female'],
                    pointSize: 3,
                    fillOpacity: 0,
                    pointStrokeColors: ['#00bfc7', '#9675ce'],
                    behaveLikeLine: true,
                    gridLineColor: '#e0e0e0',
                    lineWidth: 1,
                    hideHover: 'auto',
                    lineColors: ['#00bfc7', '#9675ce'],
                    resize: true,
                    parseTime: false

                });
            },
            error: function () {
                alert("Error");
            }
        });

        // Send ajax call
        @*$.ajax({
            url: '@Url.Action("CountGenderPerMonth", "Home")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {

                var ctx1 = document.getElementById("CountGenderPerMonth").getContext("2d");
                var data1 = {
                    labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                    datasets: [
                        {
                            label: "Male",
                            fillColor: "rgba(19,218,254,0.8)",
                            strokeColor: "rgba(19,218,254,1)",
                            pointColor: "rgba(19,218,254,1)",
                            pointStrokeColor: "#fff",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgba(19,218,254,1)",
                            data: data.MaleCount
                        },
                        {
                            label: "Female",
                            fillColor: "rgba(97,100,193,0.8)",
                            strokeColor: "rgba(97,100,193,1)",
                            pointColor: "rgba(97,100,193,1)",
                            pointStrokeColor: "#fff",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgba(97,100,193,1)",
                            data: data.FemaleCount
                        }
                    ]
                };

                var chart1 = new Chart(ctx1).Line(data1, {
                    scaleShowGridLines: true,
                    scaleGridLineColor: "rgba(0,0,0,.05)",
                    scaleGridLineWidth: 1,
                    scaleShowHorizontalLines: true,
                    scaleShowVerticalLines: true,
                    bezierCurve: true,
                    bezierCurveTension: 0.4,
                    pointDot: true,
                    pointDotRadius: 4,
                    pointDotStrokeWidth: 1,
                    pointHitDetectionRadius: 2,
                    datasetStroke: true,
                    tooltipCornerRadius: 2,
                    datasetStrokeWidth: 2,
                    datasetFill: true,
                    legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
                    responsive: true
                });
            },
            error: function () {
                alert("Error");
            }
        });*@
    </script>
}