@{
    ViewBag.Title = "Home Page";
}

<script>
    // Send ajax call
    $.ajax({
        url: '@Url.Action("GetUpdatedCountsAndList", "Home")',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (data) {

        },
        error: function () {
            alert("Error");
        }
    });
</script>
<div class="row">
    <div class="col-sm-4">
        <div class="white-box analytics-info">
            <h3 class="box-title">Total Patients</h3>
            <ul class="list-inline two-part">
                <li>
                    <div id="sparklinedash1"></div>
                </li>
                <li class="text-right"><i class="ti-arrow-up text-success"></i> <span class="counter text-success">@Html.Raw(HttpContext.Current.Session["TotalPatients"].ToString())</span></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="white-box analytics-info">
            <h3 class="box-title">Total Doctors</h3>
            <ul class="list-inline two-part">
                <li>
                    <div id="sparklinedash2"></div>
                </li>
                <li class="text-right"><i class="ti-arrow-up text-purple"></i> <span class="counter text-purple">@Html.Raw(HttpContext.Current.Session["TotalDoctors"].ToString())</span></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="white-box analytics-info">
            <h3 class="box-title">Total Caregivers</h3>
            <ul class="list-inline two-part">
                <li>
                    <div id="sparklinedash3"></div>
                </li>
                <li class="text-right"><i class="ti-arrow-up text-info"></i> <span class="counter text-info">@Html.Raw(HttpContext.Current.Session["TotalCaregivers"].ToString())</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="white-box">
            @*<h3 class="box-title">Patients Genders Per Month</h3>
                <ul class="list-inline text-center">
                    <li>
                        <h5><i class="fa fa-circle m-r-5" style="color: #35d6ff;"></i>MALE</h5>
                    </li>
                    <li>
                        <h5><i class="fa fa-circle m-r-5" style="color: #7835ff;"></i>FEMALE</h5>
                    </li>
                </ul>
                <div>
                    <canvas id="CountGenderPerMonth" height="150"></canvas>
                </div>*@

            <h3 class="box-title">Patient Gender line Chart</h3>
            <ul class="list-inline text-right">
                <li>
                    <h5><i class="fa fa-circle m-r-5" style="color: #00bfc7;"></i>Male</h5>
                </li>
                <li>
                    <h5><i class="fa fa-circle m-r-5" style="color: #9675ce;"></i>Female</h5>
                </li>
            </ul>
            <div id="morris-area-chart"></div>

        </div>
    </div>

    <div class="col-sm-6">
        <div class="white-box">
            <h3 class="box-title">Patients Illness Percentage</h3>
            <canvas id="disease-comparison" height="210"></canvas>
        </div>
    </div>
    @*<div class="col-sm-6">
            <div class="white-box" style="height:507px">
                <div class="r-icon-stats">
                    <i class="ti-user bg-megna"></i>
                    <div class="bodystate">
                        <h4>@Html.Raw(HttpContext.Current.Session["TotalCaregivers"].ToString())</h4>
                        <span class="text-muted">Total Caregivers</span>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Full Name</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in (List<HospitalManagament.User>)HttpContext.Current.Session["TotalCaregiverList"])
                                {
                                    <tr>
                                        <td>@item.UserName</td>
                                        <td>@item.FullName</td>
                                        <td>@item.Email</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>*@

</div>

<div class="row">
    <div class="col-sm-12">
        <div class="white-box" style="height:507px">
            <h4>Patients</h4>

            <div class="table-responsive">
                <table id="patient-table" class="table">
                    <thead>
                        <tr>
                            <th class="no-sort">#</th>
                            <th class="no-sort">User Name</th>
                            <th class="no-sort">Full Name</th>
                            <th class="no-sort">Occupation</th>
                            <th class="no-sort">Illness</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            foreach (var item in (List<HospitalManagament.User>)HttpContext.Current.Session["TotalPatientList"])
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@item.UserName</td>
                                    <td>@item.FullName</td>
                                    <td>@item.Patient.Occupation</td>
                                    <td>
                                        @{
                                            if (i % 4 == 0)
                                            {
                                                <span class="label label-danger">@item.Patient.Disease</span>
                                            }
                                            else if (i % 4 == 1)
                                            {
                                                <span class="label label-info">@item.Patient.Disease</span>
                                            }
                                            else if (i % 4 == 2)
                                            {
                                                <span class="label label-warning">@item.Patient.Disease</span>
                                            }
                                            else if (i % 4 == 3)
                                            {
                                                <span class="label label-success">@item.Patient.Disease</span>
                                            }
                                        }
                                    </td>
                                </tr>
                                                i++;
                                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <div id="calendar"></div>
        </div>
    </div>
</div>

<!-- /.modal -->
<div id="event-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 id="event-title" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <h4>Start</h4>
                <p id="event-start"></p>
                <h4>End</h4>
                <p id="event-end"></p>
                <h4>Description</h4>
                <p id="event-description"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <!-- Chart JS -->
    @*<script src="~/plugins/bower_components/Chart.js/chartjs.init.js"></script>*@
    <script src="~/plugins/bower_components/Chart.js/Chart.min.js"></script>

    <!-- jQuery peity -->
    <script src="~/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>

    <script>

        // Send ajax call
        $.ajax({
            url: '@Url.Action("CountGenderPerMonthHollow", "Home")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {

                Morris.Area({
                    element: 'morris-area-chart',
                    data: data,
                    xkey: 'Month',
                    ykeys: ['MaleCount', 'FemaleCount'],
                    labels: ['Male', 'Female'],
                    pointSize: 3,
                    fillOpacity: 0,
                    pointStrokeColors: ['#00bfc7', '#9675ce'],
                    behaveLikeLine: true,
                    gridLineColor: '#e0e0e0',
                    lineWidth: 1,
                    hideHover: 'auto',
                    lineColors: ['#00bfc7', '#9675ce'],
                    resize: true,
                    parseTime: false

                });
            },
            error: function () {
                alert("Error");
            }
        });

        // Send ajax call
        $.ajax({
            url: '@Url.Action("PatientDiseasePercentage", "Home")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {

                var ctx3 = document.getElementById("disease-comparison").getContext("2d");
                var data3 = data;

                var myPieChart = new Chart(ctx3).Pie(data3, {
                    segmentShowStroke: true,
                    segmentStrokeColor: "#fff",
                    segmentStrokeWidth: 0.1,
                    animationSteps: 100,
                    tooltipCornerRadius: 2,
                    animationEasing: "easeOutBounce",
                    animateRotate: true,
                    animateScale: false,
                    legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>",
                    responsive: true
                });

            },
            error: function () {
                alert("Error");
            }
        });

        // Send ajax call
        @*$.ajax({
            url: '@Url.Action("CountGenderPerMonth", "Home")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {

                var ctx1 = document.getElementById("CountGenderPerMonth").getContext("2d");
                var data1 = {
                    labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                    datasets: [
                        {
                            label: "Male",
                            fillColor: "rgba(19,218,254,0.8)",
                            strokeColor: "rgba(19,218,254,1)",
                            pointColor: "rgba(19,218,254,1)",
                            pointStrokeColor: "#fff",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgba(19,218,254,1)",
                            data: data.MaleCount
                        },
                        {
                            label: "Female",
                            fillColor: "rgba(97,100,193,0.8)",
                            strokeColor: "rgba(97,100,193,1)",
                            pointColor: "rgba(97,100,193,1)",
                            pointStrokeColor: "#fff",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgba(97,100,193,1)",
                            data: data.FemaleCount
                        }
                    ]
                };

                var chart1 = new Chart(ctx1).Line(data1, {
                    scaleShowGridLines: true,
                    scaleGridLineColor: "rgba(0,0,0,.05)",
                    scaleGridLineWidth: 1,
                    scaleShowHorizontalLines: true,
                    scaleShowVerticalLines: true,
                    bezierCurve: true,
                    bezierCurveTension: 0.4,
                    pointDot: true,
                    pointDotRadius: 4,
                    pointDotStrokeWidth: 1,
                    pointHitDetectionRadius: 2,
                    datasetStroke: true,
                    tooltipCornerRadius: 2,
                    datasetStrokeWidth: 2,
                    datasetFill: true,
                    legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
                    responsive: true
                });
            },
            error: function () {
                alert("Error");
            }
        });*@

        $('#sparklinedash1').sparkline([0, 5, 6, 10, 9, 12, 4, 9], {
            type: 'bar',
            height: '30',
            barWidth: '4',
            resize: true,
            barSpacing: '5',
            barColor: '#00c292'
        });
        $('#sparklinedash2').sparkline([0, 5, 6, 10, 9, 12, 4, 9], {
            type: 'bar',
            height: '30',
            barWidth: '4',
            resize: true,
            barSpacing: '5',
            barColor: '#ab8ce4'
        });
        $('#sparklinedash3').sparkline([0, 5, 6, 10, 9, 12, 4, 9], {
            type: 'bar',
            height: '30',
            barWidth: '4',
            resize: true,
            barSpacing: '5',
            barColor: '#03a9f3'
        });

        $(document).ready(function () {
            $('#patient-table').DataTable({
                dom: 'Bfrtip',
                buttons: [
                ],
                pageLength: 5
            });
        });

        // Make calendar here

        // Send ajax call
        $.ajax({
            url: '@Url.Action("AllEvents", "ManageEvents")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {

                // Append All events

                $('#calendar').fullCalendar({
                    eventClick: function(calEvent, jsEvent, view) {

                        $('#event-title').text(calEvent.title);
                        $('#event-start').text(calEvent.start._d.toLocaleString());
                        $('#event-end').text(calEvent.end._d.toLocaleString());
                        $('#event-description').text(calEvent.description);

                        $('#event-modal').modal('show');

                        // change the border color just for fun
                        $(this).css('border-color', 'red');

                    },
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay,listWeek'
                    },
                    allDayDefault: false,
                    //editable: true,
                    //droppable: true, // this allows things to be dropped onto the calendar
                    eventLimit: true, // allow "more" link when too many events
                    events: data
                });
            },
            error: function () {
                alert("Error");
            }
        });

    </script>
}